@font-face {
  font-family: Inter;
  font-weight: 400;
  src: url('~/assets/fonts/Inter-Regular.ttf');
}

@font-face {
  font-family: Inter;
  font-weight: 500;
  src: url('~/assets/fonts/Inter-Medium.ttf');
}

@font-face {
  font-family: Inter;
  font-weight: 700;
  src: url('~/assets/fonts/Inter-Bold.ttf');
}

@font-face {
  font-family: Red Hat Display;
  font-weight: 400;
  src: url('~/assets/fonts/RedHatDisplay-Regular.ttf');
}

@font-face {
  font-family: Red Hat Display;
  font-weight: 700;
  src: url('~/assets/fonts/RedHatDisplay-Bold.ttf');
}
